header {
    background:blue;
    float: right;
    position:absolute;
    top:0;
    width:100%;
    padding-bottom:9px;
    height:40px;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
    margin: 15px;
    float: right;
}
.enfant span{
    color: red;
}

.papa{
    display: flex;
    margin: 150px;
    padding: 15px;
    background-color: rgb(255, 0, 179);
    border: 1px solid grey;
    font-size: 15px;
    box-shadow: 15px 15px 15px black;
   
}
.papa :hover{
    background-color: white;
    transform: scale(1,1);
    transition-duration: 2s;
}

.mama{
    margin: 5px;
    right: -30px;
    font-style: italic;
   
}
.enfant{
    margin: 5px;
    right: -90px;
    padding: 15px;

}
.enfant button{
    background-color: blue;
    box-shadow: 5px 5px 5px white;
    font-size: 15px;  
}
.enfant button:hover{
    transform: rotate(360deg);
    font-size: 20px;
    background-color: aqua;
}
footer{
    background:blue;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:9px;
    height:40px;
}